<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page_title %}
    <title>Katbin - {{ page_title }}</title>
    {% else %}
    <title>Katbin</title>
    {% endif %}

    <title itemprop="name">Katbin</title>
    <link rel="icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">

    <meta property="og:type" content="object">
    <meta property="og:title" content="Katbin">
    <meta property="og:image" content="/favicon.ico">

    <meta name="twitter:title" content="Katbin">
    <meta itemprop="name" content="Katbin">
    <meta name="application-name" content="Katbin">
    <meta property="og:site_name" content="Katbin">
    <meta name="theme-color" content="#1a1a1a">
    <meta property="og:locale" content="en">
    <meta name="language" content="en">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Spherical_Kat">
    <meta name="twitter:image" content="/favicon.ico">

    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="keywords"
        content="paste,pastebin,url,urlshortener,url-shortener,code,programming,bin,cat,kat,paste,share,save,login">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="HandheldFriendly" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-title" content="Katbin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">

    {% if paste %}
    <meta name="description" content={{ paste.content }}>
    <meta itemprop="description" content={{ paste.content }}>
    <meta property="og:description" content={{ paste.content }}>
    <meta name="twitter:description" content={{ paste.content }}>

    <meta name="url" content="https://katb.in/{{ paste.id }}">
    <meta name="twitter:url" content="https://katb.in/{{ paste.id }}">
    <meta property="og:url" content="https://katb.in/{{ paste.id }}">
    {% else %}
    <meta name="description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">
    <meta property="og:description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">
    <meta itemprop="og:description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">
    <meta name="twitter:description" content="Paste, save, share! A pastebin and URL shortener for all your needs.">

    <meta name="url" content="https://katb.in">
    <meta name="twitter:url" content="https://katb.in">
    <meta property="og:url" content="https://katb.in">
    {% endif %}

    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="flex flex-col">
    <header class="flex w-full justify-between items-center py-3 px-6">
        <a href="/">
            <span class="font-semibold text-xl tracking-tight">
                <span class="text-amber text-xl">&lt;Kat</span>bin/&gt;
            </span>
        </a>

        <nav role="navigation">
            <ul>
                {% if current_user %}
                <li>current_user.email</li>
                <li><a href="/users/settings">Settings</a></li>
                <li><a href="/users/log_out">Log out</a></li>
                {% else %}
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/log_in">Log in</a></li>
                {% endif %}
            </ul>

        </nav>

    </header>
    <main class="flex flex-col w-full h-full max-h-full overflow-hidden bg-light-grey" role="main">
        {% if flash.info %}<p class="alert alert-info" role="alert">{{ flash.info }}</p>{% endif %}
        {% if flash.warn %}<p class="alert alert-danger" role="alert">{{ flash.warn }}</p>{% endif %}
        {% block innerContent %}
        {% endblock %}
    </main>
    <footer class="font-bold">
        <div class="flex px-4 py-1 text-xs sm:text-base justify-between text-amber"
            style="background: #1a1a1a; font-family: JetbrainsMono">
            <a href="https://kat.bio">
                © <span class="text-amber" id="year"></span> SphericalKat
            </a>
            <a href="https://github.com/katbin-oss/katbin-rs">
                Fork me!
            </a>
        </div>
    </footer>
</body>
<script>
    document.getElementById('year').innerText = new Date().getFullYear();
</script>
</html>